.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.board-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 320px;
  height: 320px;
  margin-bottom: 100px;
}

.cell {
  display: flex;
  font-size: 80px;
  align-items: center;
  justify-content: center;
}

.b-right {
  border-right: 2px solid black;
}

.b-left {
  border-left: 2px solid black;
}

.b-up {
  border-top: 2px solid black;
}

.b-down {
  border-bottom: 2px solid black;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .loading {
    font-size: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  }

  .settings-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .result {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .settings-button {
    width: 200px;
    font-size: 20px;
    margin-bottom: 25px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }


@media (min-width: 1024px) {

  .app {
    flex-direction: row;
  }

  .board-grid {
    margin-right: 350px;
    width: 500px;
    height: 500px;
    margin-bottom: 0;
  }

  .cell {
    font-size: 100px;
  }

  .loading {
    font-size: 40px;
    padding: 40px;
  }

  .settings-container {
    height: 100%;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0px;
  }

  .result {
    font-size: 35px;
  }
}